@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");


html {
    background: rgb(163, 175, 243);
    background: radial-gradient(circle at 10% 20%, rgb(163, 175, 243) 0%, #dcb6e8 100.2%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;


}

body {
    padding-block: 2rem;
    font-family: Merriweather, serif;
    max-width: 80ch;
    margin: 0 auto;
}



a {
    text-decoration: none;

}

a:active {
    color: #994787;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.header__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.header__search {
    height: inherit;
    display: flex;
    align-items: flex-start;
    border: none;
    padding: 10px;
}


.geolocate-icon {
    border: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
}


@media screen and (min-width: 768px) {
    .header {
        justify-content: space-between;
        height: 120px;

    }

    .header__search {
        align-items: center;
    }

    .geolocate-icon {
        width: 80px;
        height: 80px;

    }
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 20px;

}

.weather__message {
    padding-top: 7rem;
    max-width: inherit;
    width: 100%;
    margin: 0 auto;
    line-height: 1.4;
    font-size: 1rem;
    padding-inline: 2rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .weather__message {
        font-size: 1.4rem;

    }
}

.weather__summary {
    text-align: center;
    display: grid;
    gap: 1rem;

}

.weather__summary ul li {
    list-style: none;

}


.weather-icon {
    font-size: 3rem;
}

.weather__celsius-value {
    font-size: 4rem;
}

@media screen and (min-width: 768px) {


    .weather__summary ul {
        display: flex;
        gap: 4rem;
    }

    .weather__summary ul li {
        display: inline-flex;
        gap: 1rem;
    }

    .weather__celsius-value {
        font-size: 4rem;
    }

    .weather-icon {
        font-size: 3rem;
    }

}


.btn {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    min-width: 30px;
    height: inherit;
    background-color: #796eda;
    color: white;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;

}




.search-icon {
    position: absolute;
    inset: 0;
    width: 15px;
    height: 15px;
    color: white;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;

    padding: 1rem;

}



.card {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1em 1.3em;
    border-radius: .35rem;
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    flex: 1 0 100%;
    backdrop-filter: blur(15px);

}

.card>div {
    display: grid;
    place-items: center;
    gap: 1rem;
}




.card>h2 {
    margin: 0;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.card>p {
    margin-top: 0.75rem;
    margin-bottom: 0;
}



.forecast__temp {
    font-size: 1.8rem;
}

.forecast__date {
    font-size: 1.3rem;
}

.forecast__icon {
    font-size: 3.7rem;
}

.forecast__desc {
    text-align: center;
}